.greetings {
    color: var(--color-light);
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    text-align: center;

    span {
        font-family: MontserratBold;
        font-size: 60px;
    }

    button {
        width: 150px;
        height: 60px;
        font-size: 24px;
    }
}

@media screen and (max-width: 768px) {
    .greetings {
        span {
            font-size: 40px;
        }

        button {
            width: 100px;
            height: 40px;
            font-size: 16px;
        }
    }
}