.greetings {
    color: var(--color-light);
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    text-align: center;

    span {
        font-family: MontserratBold;
        font-size: 60px;
    }

    button {
        width: 150px;
        height: 60px;
        font-size: 24px;
    }
}
