.wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 20px;
    width: 100%;

    span {
        color: rgb(251, 161, 161);
    }
}

.input {
    color: var(--color-light);
    border-radius: 5px;
    height: 34px;
    padding: {
        left: 7px;
        right: 7px;
    }
    border: none;
    background: rgba(255, 255, 255, 0.3);
    font-size: 16px;
    width: 100%;

    &:focus {
        outline: none;
    }

    &[type='password'] {
        font: small-caption;
        letter-spacing: 4px;
    }
}

.error {
    background: rgba(255, 140, 0, 0.3);
    transition: all 200ms linear 100ms;
    border: 1px dashed #ff8c00;
}

.message {
    color: #ff8c00;

    svg {
        vertical-align: bottom;
        padding-right: 2px;
        fill: #ff8c00;
    }
}

.container {
    position: relative;
    display: flex;
    align-items: center;

    input {
        padding-right: 35px;
    }

    svg {
        position: absolute;
        right: 10px;
        fill: var(--color-teal);
        cursor: pointer;
        user-select: none;

        &:hover {
            fill: var(--color-light);
            transition: all 200ms linear;
        }
    }
}

.phone {
    &::placeholder {
        color: var(--color-light);
        opacity: 0.5;
    }
}
