.password {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    place-items: center;
    max-width: 500px;
    gap: 10px;
}

.header {
    font-family: MontserratBold;
    font-size: 40px;
    text-align: center;
}

.form {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    gap: 15px;
    width: 100%;
    place-items: center;

    label {
        width: 80%;
    }

    button {
        height: 50px;
    }

    p {
        width: 80%;
    }
}

@media screen and (max-width: 480px) {
    .form {
        button {
            font-size: 16px;
        }
    }
}