body {
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
}

* {
    font-family: Montserrat;
    box-sizing: border-box;
}

@font-face {
    font-family: Montserrat;
    src: url(./assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: MontSerratItalic;
    src: url(./assets/fonts/Montserrat-Regular-Italic.ttf);
}

@font-face {
    font-family: MontserratBold;
    src: url(./assets/fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: MontserratBoldItalic;
    src: url(./assets/fonts/Montserrat-BoldItalic.ttf);
}
